/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
fonts
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
bulmap css framework
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
color palette
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --dream: #815166;
  --golden: #f3c54c;
  --glow: #fdf0b5;
  --night: #1c1933;
  --fade: #5c6f6f;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
main style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* NOTE: 1em === 16px */

* {
  /* Found on CSS-TRICKS
  https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: var(--night);
  background: -webkit-linear-gradient(180deg, var(--night), var(--dream) 150%);
  background: -o-linear-gradient(180deg, var(--night), var(--dream) 150%);
  background: linear-gradient(180deg, var(--night), var(--dream), var(--glow));
}

/* main container of website */
.main-container {
  min-height: 100vh:
  width: 100vw;
  margin-top: 52px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
header style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.header {
  background: var(--dream);
  background: -webkit-linear-gradient(180deg, var(--night), var(--dream) 150%);
  background: -o-linear-gradient(180deg, var(--night), var(--dream) 150%);
  background: linear-gradient(180deg, var(--night), var(--dream) 150%);
}


nav.navbar.is-fixed-top, .hero-head, .navbar-menu {
  background: var(--night);
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  margin-left: 1.5em;
}

.navbar-menu-items {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1.5em;
}

.navbar-brand h1, h1.title {
  color: var(--glow);
}

.navbar-brand h1 {
  font-weight: 800;
}

.hero.is-medium .hero-body {
  padding: 7rem 0;
}

a.navbar-item.is-active, h2.subtitle {
  color: var(--golden);
}

a.navbar-item.is-active {
  background: transparent;
}

.navbar-item {
  color: var(--fade);
}

a.navbar-item:hover {
  background: var(--glow);
  color: var(--night);
}

h1.title {
  font-size: 3em;
}

h2.subtitle {
  font-size: 1.76em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
about style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.about-container {
  height: 650px;
  text-align: center;
}

.about-container h1 {
  font-size: 3em;
  color: var(--glow)
}

.about-container h4 {
  font-size: 2em;
  color: var(--golden);
  padding-bottom: 15px;
}

.about-container h2 {
  font-size: 1em;
  color: var(--glow);
  font-weight: bold;
}

.about-container a {
  color: var(--glow);
}

.about-container a:hover {
  background: var(--glow);
  color: var(--night);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
community images style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

button.add-dream {
  height: 4rem;
  width: 100%;
  background: var(--glow);
  border: none;
  color: var(--dream);
  font-size: 1.6em;
  font-weight: 600;
  -moz-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  -webkit-transition-duration: 1200ms;
  transition-duration-duration: 1200ms;
}

button.add-dream:hover {
  background: var(--golden);
  color: var(--night);
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.01);
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

.community_image_container, .username-list {
  display: flex;
  flex-wrap: wrap;
}

.tile.is-3 {
  flex: none;
  width: 100%;
}

.community_image_container > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -moz-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  -webkit-transition-duration: 1200ms;
  transition-duration-duration: 1200ms;
}

.community_image_container > div > img:hover, .user:hover {
  cursor: pointer;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
community create page/form style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.comm_image_create_container {
  min-height: calc(100vh - 52px);
  align-items: center;
  display: flex;
  justify-content: center;
}

form {
  background: var(--night);
  border: 1px solid var(--fade);
  margin: 5em 0;
  padding: 5em 2em;
  width: 96%;
}

.comm_image_create_container > form > div > h1, .comm_image_edit_container > form > div > h1 {
  color: var(--glow);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: center;
}

.label {
  color: var(--glow);
}

input {
  font-weight: 600;
  margin-bottom: 1em;
}

.button {
  border-color: var(--glow);
  font-weight: 600;
  width: 45%;
}

.submit-button {
  background: var(--glow);
  color: var(--night);
}

.submit-button:hover {
  border-color: var(--golden);
}

.cancel-button {
  background: var(--night);
  color: var(--glow);
  margin-left: 10%;
}

.cancel-button:hover {
  color: var(--glow);
  border-color: var(--golden);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
community show pagem style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.comm_board_show {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comm_board_show h1 {
  color: var(--glow);
  font-size: 3em;
  font-weight: 600;
  padding: 1em 0;
  text-align: center;
}

.comm_board_show img {
  margin-bottom: 3em;
  object-fit: cover;
  object-position: 50% 50%;
  height: 90vw;
  width: 90vw;
}

.comm_board_show .button {
  background: var(--glow);
  color: var(--night);
  border-color: var(--night);
  font-weight: 600;
  width: 50%;
}

.comm_board_show .button:hover {
  border-color: var(--glow);
}

.comm_board_show .button:nth-child(2n+0) {
  background: var(--dream);
  color: var(--night);
  border-color: var(--night);
  margin: 1em 0;
}

.comm_board_show .button:nth-child(2n+0):hover {
  border-color: var(--dream);
}

.comm_board_show .button:last-child {
  margin-bottom: 3em;
  background: var(--night);
  color: var(--glow);
  border-color: var(--glow);
}

.comm_board_show .button:last-child:hover {
  border-color: var(--night);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
community image edit style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.comm_image_edit_container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 52px);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
users list style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.users_list_container, .user_board {
  min-height: calc(100vh - 52px);
}

.users_list_container > h1, .user_board > h1 {
  color: var(--glow);
  font-size: 3em;
  font-weight: 600;
  padding: 1em 0;
  text-align: center;
}

.user {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 9em;
  -moz-transition-duration: 1200ms;
  -o-transition-duration: 1200ms;
  -webkit-transition-duration: 1200ms;
  transition-duration-duration: 1200ms;
}

.user:nth-child(odd) {
  background: var(--glow);
  color: var(--night);
  border: 1px solid var(--night);
}

.user:nth-child(even) {
  background: var(--night);
  color: var(--glow);
  border: 1px solid var(--glow);
}

.user h3 {
  font-size: 1.6em;
  text-align: center;
  font-weight: 600;
  width: 100%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
user board style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.user_create_form > form {
  margin: 0 0 5em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
footer style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
  background: var(--night);
  color: var(--glow);
  font-weight: 600;
  padding-bottom: 3rem;
}

.footer > .container > .content > p > a {
  color: var(--golden);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
media queries style
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* mobile */
@media screen and (min-width: 480px) {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  header style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .hero.is-medium .hero-body {
    padding: 6rem 0;
  }

  h1.title {
    font-size: 4em;
  }

  h2.subtitle {
    font-size: 2.36em;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community images style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .tile.is-3 {
    width: 50%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community create page/form style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  form {
    padding: 5em 3em;
    width: 80%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community show pagem style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .comm_board_show img {
    height: 60vw;
    width: 60vw;
  }
}

/* tablet */
@media screen and (min-width: 769px) {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  header style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .hero.is-medium .hero-body {
    padding: 5rem 0 5rem;
  }

  h1.title {
    font-size: 5em;
  }

  h2.subtitle {
    font-size: 3em;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community images style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .tile.is-3 {
    width: 33.33333%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community create page/form style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  form {
    padding: 5em 3.4em;
    width: 70%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community show pagem style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .comm_board_show img {
    height: 50vw;
    width: 50vw;
  }
}

/* desktop */
@media screen and (min-width: 1088px) {
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community images style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .tile.is-3 {
    width: 25%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community create page/form style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  form {
    padding: 5em 4em;
    width: 60%;
  }
}

/* widescreen */
@media screen and (min-width: 1280px) {
  .tile.is-3 {
    width: 16.66667%;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  community create page/form style
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  form {
    padding: 5em 5em;
    width: 50%;
  }
}

/* full hd */
@media screen and (min-width: 1472px) {}
